doctype html
html
  head
    title quiz-d-astronomie
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/css/bootstrap.min.css" )

  body
    block navbar
      div
        a(href='/admin') Dashboard
      br
      div
        a(href='/admin/quizes') Quizes
    block content
  script.
    document.querySelectorAll('a').forEach(link => {
        link.addEventListener('click', (event)=> {
          const method = event?.target?.dataset?.method || null;

          if (method) {
            event.preventDefault();
            fetch(event?.target?.href, { method: method.toUpperCase() }).then(() => window.location.reload())
          }
        })
    })
